/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/mouse.h>

/ {
      macros {
        xtips: xtips {
            compatible = "zmk,behavior-macro";
            label = "XTIPS";
            #binding-cells = <0>;
            bindings = <&kp LS(X) &kp KP_DOT &kp LS(T) &kp I &kp P &kp S>;
            wait-ms = <1>;
            tap-ms = <1>;
        };
      };

	  // 新增：自定义 hold-tap 行为（设置长按识别时间）
      behaviors {
        // 定义一个用于 mod-tap 的行为（如 Shift、Ctrl 等修饰键）
        my_mod_tap: my_mod_tap {
          compatible = "zmk,behavior-hold-tap";
          label = "MY_MOD_TAP";
          #binding-cells = <2>;  // 固定参数（短按行为、长按行为）
          hold-time = <120>;     // 长按识别时间（单位：ms，可修改为 150-300 等）
        };

        // 定义一个用于 layer-tap 的行为（切换层）
        my_layer_tap: my_layer_tap {
          compatible = "zmk,behavior-hold-tap";
          label = "MY_LAYER_TAP";
          #binding-cells = <2>;  // 固定参数（短按行为、长按行为）
          hold-time = <120>;     // 层切换的长按识别时间（可与上面不同）
        };
      };

	keymap0: keymap {
		compatible = "zmk,keymap";

		default_layer {
			//字母层
            // |   Q   |   W   |   E   |   R   |   T   |    ----   |   Y   |   U   |   I    |   O    |   P   |
            // |   A   |   S   |   D   |   F   |   G   |    ----   |   H   |   J   |   K    |   L    |  Ent  |
            // | LG,Z  |  LA,X | LC,C  | LS,V  | LT1,B | LT3,SPACE | LT2,N | RS,M  | RS,TAb | RA,ESC | RG,BS | 
            bindings = <
            &kp Q          &kp W          &kp E          &kp R          &kp T          &none          &kp Y          &kp U          &kp I          &kp O          &kp P
			&mt LSHFT A    &kp S          &kp D          &kp F          &mt LSHFT G    &none          &kp H          &kp J          &kp K          &kp L          &kp ENTER
			&mt LCTRL SLSH &mt LWIN Z     &mt LALT X     &lt 3 C        &lt 2 V        &lt 1 SPACE    &lt 2 B        &lt 3 N        &mt RALT M     &mt RWIN COMMA &mt RCTRL DOT
            >;
		};
		
		fn1_layer {
			//数字层
            bindings = <
            &kp N1         &kp N2         &kp N3         &kp N4         &kp N5         &none          &kp ESC        &kp MINUS      &kp EQUAL      &none          &kp BSPC
			&kp N6         &kp N7         &kp N8         &kp N9         &kp N0         &none          &kp TAB        &none          &none          &kp UP         &kp ENTER
			&kp GRAVE      &kp LBRC       &kp RBRC       &kp SEMI       &none          &none          &none          &none          &kp LEFT       &kp DOWN       &kp RIGHT
             >;
		};

		fn2_layer {
			//符号层
            bindings = <
			&kp EXCLAM     &kp AT         &kp HASH       &kp DOLLAR     &kp PERCENT    &none          &none          &kp UNDER      &kp PLUS       &none          &kp DEL
			&kp CARET      &kp AMPERSAND  &kp ASTERISK   &kp LPAR       &kp RPAR       &none          &none          &none          &none          &kp UP         &kp ENTER
			&kp TILDE      &kp LCURLY     &kp RCURLY     &kp COLON      &kp DQT        &none          &none          &none          &kp HOME       &kp DOWN       &kp END
            >;
		};

		fn3_layer {
			//功能层
            bindings = <
			&kp F1             &kp F2          &kp F3         &kp F4         &kp F5         &none               &kp F11        &none          &none          &none          &kp DEL
			&kp F6             &kp F7          &kp F8         &kp F9         &kp F10        &none               &kp F12        &none          &none          &kp UP         &kp ENTER
			&bt BT_SEL 0       &bt BT_SEL 1    &bt BT_SEL 2   &bt BT_SEL 3   &none          &bt BT_TOG          &bt BT_PAIR    &none          &kp HOME       &kp DOWN       &kp END
   			// 切换到设备1      切换到设备2                                                   蓝牙开关             配对模式
            >;
		};
		
		fn4_layer {
            bindings = <
            &none   &none   &none   &none    &none   &none   &none   &none   &none   &none   &none  
            &none   &none   &none   &none    &none   &none   &none   &none   &none   &none   &none  
            &none   &none   &none   &none    &none   &none   &none   &none   &none   &none   &none                  
            >;
		};

		fn5_layer {
            bindings = <
            &none   &none   &none   &none    &none   &none   &none   &none   &none   &none   &none  
            &none   &none   &none   &none    &none   &none   &none   &none   &none   &none   &none  
            &none   &none   &none   &none    &none   &none   &none   &none   &none   &none   &none      
            >;
		};
		
		fn6_layer {
            bindings = <
            &none   &none   &none   &none    &none   &none   &none   &none   &none   &none   &none  
            &none   &none   &none   &none    &none   &none   &none   &none   &none   &none   &none  
            &none   &none   &none   &none    &none   &none   &none   &none   &none   &none   &none      
            >;
		};
		
		fn7_layer {
            bindings = <
            &none   &none   &none   &none    &none   &none   &none   &none   &none   &none   &none  
            &none   &none   &none   &none    &none   &none   &none   &none   &none   &none   &none  
            &none   &none   &none   &none    &none   &none   &none   &none   &none   &none   &none      
            >;
		};
		
		fn8_layer {
            bindings = <
            &none   &none   &none   &none    &none   &none   &none   &none   &none   &none   &none  
            &none   &none   &none   &none    &none   &none   &none   &none   &none   &none   &none  
            &none   &none   &none   &none    &none   &none   &none   &none   &none   &none   &none      
            >;
		};
	};
};
